.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", 'sans-seriff';
}

a{
  text-decoration: none;
}
body{
  background-color:#0f172a ;
}

.container{
  margin:0 40px;
}

